{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div>
        <h1>Vinhos</h1>

                <button type="button" class="btn btn-warning">
                    <a href="{% url 'index' %}">Voltar</a>
                </button>


        <br><br>
    </div>

        <div class="d-flex">
            <div class="p-2 flex-fill">
                <h5>Vinho : {{ vinho.nome }}</h5>
                <h5>Uvas : {{ vinho.uvas }}</h5>
                <h5>Tipo : {{ vinho.tipo }}</h5>
                <h5>Açucar : {{ vinho.acucar }}</h5>
            </div>
            <div class="p-2 flex-fill">
                <h5>Safra : {{ vinho.safra }}</h5>
                <h5>Nacionalidade : {{ vinho.nacionalidade }}</h5>
                <h5>Vinícola : {{ vinho.vinicola }}</h5>
                <h5>Reserva : {{ vinho.reserva }}</h5>
            </div>
            <div class="p-2 flex-fill">
                <h5>Teor alcoolico : {{ vinho.alcool }} (%)</h5>
                <h5>Temperatura de Serviço : {{ vinho.temperatura }} (°C)</h5>
                <h5>Volume : {{ vinho.volume }} (ml)</h5>
                <h5>Potencial de guarda : {{ vinho.guarda }} (anos)</h5>
            </div>
        </div>
        <hr>
        <div>
            <h5>Visual : </h5>
            <p>{{ vinho.visual }}</p>
        </div>

        <div>
            <h5>Olfativo : </h5>
            <p>{{ vinho.olfativo }}</p>
        </div>

        <div>
            <h5>Gustativo : </h5>
            <p>{{ vinho.gustativo }}</p>
        </div>

        <div>
            <h5>Amadurecimento : </h5>
            <p>{{ vinho.amadurecimento }}</p>
        </div>

{% endblock %}